<h1><%= "#{@item.name}: $#{@item.price}0" %><h1>


<div class="animal-image">
  <%= image_tag @item.photo %>
</div>

<div class="add-to-cart">
  <%= simple_form_for(@session_item) do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.hidden_field :session_id, :value => @session_id %>

    <%= f.submit "Add to cart" %>
  <% end %>
</div>
