<h1><%= "#{@item.name}: $#{@item.price}0" %><h1>


<div class="animal-image">
  <%= image_tag @item.photo %>
</div>

<div id="add-to-cart" data-item-id="<%= @item.id %>" data-session-id="<%= current_session.id %>" data-item-name="<%= @item.name %>" data-item-price="<%= @item.price %>">
  Add to cart!
</div>
